.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }


/* share style */
.display-flex{
    display: flex;
}
.main{
    max-width: 950px;
    margin: 0 auto;
}
.background-color{
    background-color: black;
}
.btn{
    color: white;
    background-color: rgb(230, 83, 60);
    border-radius: 15px;
    font-weight: 600;
    font-size: .8rem;
    padding: 6px 16px 6px 16px;
    border: none;
}
.btn-2{
    color: white;
    background-color: rgb(230, 83, 60);
    border-radius: 20px;
    font-weight: 600;
    font-size: .8rem;
    padding: 10px 35px 10px 35px;
    border: none;
}
.description{
    font-weight: 400;
    font-size: .8rem;
    color: rgba(153, 146, 146, 0.5);
    
}
.heading{
    font-weight: 900;
    font-size: 2rem;
    color: rgb(255, 255, 255);
    padding: 5px;
    margin: 5px;
}
.heading-1{
    font-weight: 900;
    font-size: 1rem;
    color: rgb(255, 255, 255);
    padding: 5px;
    margin: 5px;
}


/* nav style  */
.navber {
    justify-content: space-between;
    align-items: center;

}
nav ul li{
    list-style: none;
    margin-right: 35px;
    font-weight: 400;
    font-size: 1rem;
    
}
nav li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.fitness{
    font-weight: 800;
    font-size: 2rem;
    color: rgb(230, 83, 60);
}
/* banner style  */
.shape{
  font-family:'Miama',sans-serif; 
  font-weight: 300;
  font-size: 80px;
  line-height: 1; 
}
.banner{
    align-items: center;
    justify-content: space-between;
}
.banner-2{
    width: 50%;
    /* margin-top: 64px;
    margin-right: 100px;
    margin-bottom: 76px; */
}
.banner-heading{
    font-weight: 900;
    font-size: 2.49rem;
    color: #FFFFFF;
}

.banner-btn{
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-weight: 600;
    font-size: .8rem;
    padding: 11px 30px 11px 30px;
    background-color: black;
    border-color: lightgrey;
    margin-left: 10px;
}
.banner-pic{
    width: 230px;
    height: 385px;
}
/* card style  */
.card-container{
    text-align: center;
}
.image{
    width: 140px;
    height: 130px;
    border-radius: 50%;
}
.card-heading{
    font-weight: 600;
    font-size: .9rem;
    color: rgb(255, 255, 255);
}
/* run banner style  */
.run-img{
    width: 245px;
    height: 210px;
    object-fit: none;
    object-position: 65% 28%;
    margin: 25px 16px;
    border-radius: 10px;
}
.run-section{
    /* width: 810px; */
    /* height: 260px; */
    margin: 65px ;
    background-color: Rgb(34,34,34);
    border-radius: 10px;

}
.run-content{
    justify-content: space-between;
    align-items: center;
    margin: 22px 25px 22px 30px;
}
.run-description{
    width: 50%;
}


/* BMI Section style */
.BMI-heading{
    margin: 15%;
    margin-top: 5%; 
    margin-bottom: 5%;

}
.Calculate-part{
    background-color: rgb(34, 34, 34);
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bmi-calculator{
    margin: 60px;
    margin-right: 70px;
    width: 40%;
}
#th{
    font-weight: 400;
    font-size: .6rem;
    color: rgba(255, 255, 255, 0.788);
}
table,th,td{
    border: 1px solid rgb(61, 60, 60);
    border-collapse: collapse;
    padding: 11px 40px;
}
.description-1{
    font-weight: 400;
    font-size: .7rem;
    color: rgba(153, 146, 146, 0.5);
}
.height, .weight, .age, .sex{
 width: 200px;
 height: 26px;
 background-color: rgba(255, 255, 255, 0.1);
 border: none;
 border-radius: 5px;
 margin: 4px;
}
.factor{
    width: 420px;
    height: 26px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 5px;
    margin: 4px;
    margin-bottom: 20px; 
}

/* team section style  */
.team{
    margin: 70px 150px ;
}
.team-h, .team-p{
    display: flex;
    justify-content: center;
}
.team-section{
    width: 100%;
    height: 425px;
    background-color: rgb(68, 67, 67);
    border-radius: 10px;
}
.team-container{
    gap: 10px;
    margin: 15px;
    margin-top: 5px;
}

.img-box{
    background-image: url(../images/trainer1.png);
    width: 300px;
    height: 200px;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}
.img-text{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #e6dcdc;
    text-align: left;
}
.img-box2{
    background-image: url(../images/trainer2.png);
    width: 300px;
    height: 200px;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}

.img-box3{
    background-image: url(../images/trainer3.png);
    width: 300px;
    height: 200px;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}

.img-box4{
    background-image: url(../images/trainer4.png);
    width: 300px;
    height: 200px;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}
.img-box5{
    background-image: url(../images/trainer5.png);
    width: 300px;
    height: 200px;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}
.img-box6{
    background-image: url(../images/trainer6.png);
    width: 300px;
    height: 200px;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}

/* footer style  */
.footer-section{
    margin-top: 50px;
    background-color: rgb(12, 12, 12);
    position: static;
}
.footer{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#footer-description{
    width: 400px;
}
#footer-h{
    font-weight: 900;
    font-size: 3rem;
    color: rgb(230, 83, 60);
    margin: 0;
}
div ul li{
    font-weight: 400;
    font-size: 1rem;
    color: rgba(173, 171, 171, 0.5);
    padding: 5px;
    margin-left: 0;
    list-style: none;
}
hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin: 20px auto;
}
.copyright{
    color: rgb(53, 51, 51);
    text-align: center;
    margin-bottom: 20px;
}

 
       

   




/* responsive media query  */
@media screen and (max-width: 576px) {
    *{
        margin-right: 0;
    }
    .banner, .card, .run-content, .Calculate-part, .team-container, .footer{
        flex-direction: column;
        
    }
    .banner-2{
       margin-bottom: 50px;
       width: 90%;
    }
    .small-device-btn{
        display: flex;
    }
    .btn-2{
        color: white;
        background-color: rgb(230, 83, 60);
        font-weight: 500;
        font-size: .8rem;
        padding:4px 36px;
        
        
    }
    .menu{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: 50%;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        transition: all 0.2s ease-in-out;
    }
    .close-menu, .open-menu{
        display: block;
    }
    #check:checked ~ .menu{right: 0;}

    .run-description{
        width: 90%;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .run-img{
        width: 90%;
        height: 50%;
        object-fit: fill;
        border-radius: 10px;
}

.Calculate-part{
    background-color: rgb(34, 34, 34);
    width: 100%;
    height: 650px;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
.description-2{
    font-weight: 500;
    font-size: .6rem;
    color: rgba(153, 146, 146, 0.5); 
}
.bmi-description h1{
    width: 100%;
    margin: 0;
    padding: 0;
}
.team-container{
    height: 520px;
    background-color: rgb(68, 67, 67);
    align-items: center;
}








}







